# --------------------
# Python Specific Files
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
pip-log.txt
pip-delete-this-file.txt
.tox/
.mypy_cache/
.pytest_cache/
.coverage

# --------------------
# IDE and OS Files
# --------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
*.db

# --------------------
# Project Specific Files
# --------------------

shop.db
*.env 

*.log